section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 120vh;
  background: #042104;
  animation: animateColor 8s linear infinite;
}

@keyframes animateColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
#logoIcon {
  position: absolute;
  top: -190px; /* adjust as needed */
  left: -40px; /* adjust as needed */
  z-index: 1; /* to ensure the logo stays on top of other elements */
}

.Trendingcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

section .Trendingcontainer .circle {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 -7.5px;
  z-index: 0;
}

section .Trendingcontainer .circle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

section .Trendingcontainer .circle span::before {
  content: " ";
  position: absolute;
  right: 0;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
  background: #00ff0a;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a,
    0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
  transform: scale(0.1);
  animation: Infanimate 4s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes Infanimate {
  0% {
    transform: scale(1);
  }
  50%,
  100% {
    transform: scale(0.1%);
  }
}

section .Trendingcontainer .circle:nth-child(2) {
  transform: rotate(-180deg);
}

section .Trendingcontainer .circle:nth-child(2) span::before {
  animation-delay: calc(-0.1s * var(--i));
}

.Trendingcontent {
  top: 80px;
  position: absolute;
}

.Trendingcontent h1 {
  text-align: center;
  content: attr(data-text);
  font-family: "Poppins", sans-serif;
  top: 0px;
  margin-top: 0px;
  font-size: 5em;
  position: relative;
  color: #042104;
  -webkit-text-stroke: 0.3vw #042104;
  text-transform: uppercase;
  display: block;
}

.Trendingcontent h1::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw #042104;
  border-right: 2px solid #01fe87;
  overflow: hidden;
  animation: letterAnimate 6s linear;
}

@keyframes letterAnimate {
  0%,
  10% {
    width: 00%;
  }

  70%,
  90% {
    width: 100%;
  }
}

.ContentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; /* This will add space around each box */
  z-index: 2;
}

.Tboards {
  position: relative;
  width: calc(
    100% / 3 - 140px
  ); /* This will make each box take up a third of the container's width, minus the total margin */
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  border: 20px solid #222;
  margin: 30px;
  z-index: 2;
  transition: 0.5s;
}

.Tboards:hover {
  box-shadow: 0 40px 0 -20px #19b73e, 0 -40px 0 -20px #1328db,
    -40px 0 0 -20px #dc0028, 40px 0 0 -20px #ff560b,
    inset 0 40px 0 -20px #19b73e, inset 0 -40px 0 -20px #1328db,
    inset -40px 0 0 -20px #dc0028, inset 40px 0 0 -20px #ff560b;
}

.Tboards h2 {
  position: relative;
  color: #fff;
  font-size: 3em;
  opacity: 0.1;
}

.Tboards:hover h2 {
  opacity: 1;
}
